body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style-type: none;   
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1.2rem;
}
h1{
    text-align: center;
}

.princ{
    text-align: center;
    color: rgb(79, 16, 121);
}
a{
    text-decoration: none;
    color: #fff;
}
.header{
    background-image: url("img/HQ.png");
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}
.header img{
    border-radius: 1000px;
    width: 100px;
    height: 100px;
}


.menu{
    display: flex;
}
.menu li{
    margin-left: 20px;;
}
.menu a{
    display: block;
    background-color: #474646;
    border-radius: 10%;
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #e9e8e7;    
}
.item{
    background-color: #897eb6;
    color: #fff;
    padding: 20px;
    margin: 5px;
    width: 200px;
}
img{
    width: 205px;
    height: 180px;
    text-align: center;
}

h6{
    text-decoration: line-through;
    color: red;
    display: inline;
}
.formulario {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form {
    background: #897eb6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(29, 13, 104, 0.1);
    width: 100%;
    max-width: 600px;
   
}
.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}
.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #2c022e;
    border-radius: 4px;
    box-sizing: border-box;
}
.contact-form textarea {
    resize: vertical;
    height: 150px;
}
.contact-form button {
    background-color: rgb(79, 16, 121);
    color: #000000;
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.contact-form button:hover {
    background-color: #f9f8ff;
}
 .sobre{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
padding: 5px;
 }

.figma{
    width: 350px;
    height: 370px;
align-items: center;
border-radius: 100%;
 }

.link {
    color: #cf0909;
    font-size: 19px;
}

.container1{
   
    padding: 50px;
    text-align: justify;
    border-radius: 10%;
    background-color: #e2e2e2;
    margin-left: 10px;
    margin-right: 10px;
}

.importancia{
    color: rgb(79, 16, 121);
}

.imagem5{
    align-items: center;
    width: 200px;
}