body, ul, li, h4{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
}

li{
    width: 130px;
}
.menu li a:hover{
    background-color: darkblue;
    color: beige;
}
a{
    text-decoration: none;
    color: darkblue;

}
.header{
    background-color: midnightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
padding: 20px;
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 15px;
    
}
.menu li a{
    display: block;
    padding: 12px;
    background-color: beige;
}
.header img{
    border-radius: 100%;
}
.container{
    /*height: 5600px; */
    background-color: rgb(224, 205, 165);
    align-items: center;
    align-content: center; 
    flex: auto;
}
.item{
    background-color: rgb(5, 45, 83);
    color: rgb(241, 218, 167);
    padding: 20px;
    margin: 5px;
    width: 300px;
    justify-content: center;
}
img{
    width: 295px;
    height: 180px;
    display: flex;
}
.item {
    width: 300px;
    height: auto;
    text-align: center;
}
