body {
    background-color: #ffffff;
    color: #00004d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 2%;
    padding: 0%;
}

h4, h2, h1, h3 {
    color: #00004d;
    text-align: center;
}

.centro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.centro img {
    margin-right: 10px;
}

.meio {
    width: 100%;
    margin: auto;
    padding: 20px;
}

.card-mb-3 {
    background-color: #c9c9fd;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card-mb-3:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 15px;
}

.diminuir {
    height: 150px;
    width: auto;
}

.diminuir2 {
    height: 100px;
    width: auto;
}

.minha-img {
    height: 175px;
    width: 150px;
    align-self: center;
    border-radius: 10px;
}

section {
    background-color: #d7d7ff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.btn-light, .btn-primary {
    margin-left: 10px;
    border-radius: 5px;
}

footer {
    background-color: #e6f2ff;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

footer p {
    font-size: medium;
    color: #00004d;
}


@media (max-width: 768px) {
    .meio {
        width: 90%;
    }

    .centro img {
        margin-right: 0;
        max-width: 80%;
    }

    .diminuir, .diminuir2 {
        max-width: 100%;
    }

    .nav-link {
        font-size: 14px;
    }

    .navbar-brand h3 {
        font-size: 1.2rem;
    }

    .card-mb-3 {
        width: 100%;
    }

    footer p {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .meio {
        width: 100%;
        padding: 10px;
    }

    h4, h2, h1, h3 {
        font-size: 1.2rem;
    }

    .card-mb-3 {
        margin: 10px 0;
    }
}
